---
layout: default
---
<div class="home">
  {% if paginator.total_posts > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py2">
          <div class="post-meta">
            <span>{{ post.last_modified_at | date: site.date_format }}</span>
            </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><div class="post-title">{{ post.title }}</div></a>
          <div class="post-summary">
            {% if post.graphical-abstract %}
              <a href="{{ post.url | prepend: site.baseurl }}">
                <img class="img-fluid" src="{{ post.graphical-abstract | prepend: site.baseurl }}" alt="Graphical Abstract">
              </a>
            {% elsif post.abstract %}
              {{ post.abstract | strip_html | truncate: 150 }}
            {% elsif post.excerpt %}
              {{ post.excerpt | strip_html | truncate: 150 }}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
