#bibliography p,
.footnotes p {
  margin-left: 2em;
  text-indent: -2em;
  font-size: 80%;
}

.graphical-abstract {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.carousel {
  padding-top: 25px;
}

.social-icons img {
  height: 20px;
}

.post-summary,
.abstract {
  font-weight: 300;
  font-style: italic;
  font-size: 80%;
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 1em;
}

.collapse.in { min-height: 50px;border: 1px solid blue; }
